* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

body {
	background: #1b1f3a;
	padding: 1rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	align-items: space-between;
	margin-bottom: 36px;
}

.card {
	background: #fff;
	padding: 16px;
	border-radius: 12px;
}

.content {
	display: flex;
	gap: 16px;
}

.content .main {
	width: 75%;
}

.content .aside {
	width: 25%;
}

section {
	background: #fff;
	padding: 16px;
}

section img {
	display: block;
	width: 100%;
	height: auto;
}
